/* scroll 界面基本配置 */
.content,
.content .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/** 竖向滚css **/
.screen-all {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    -webkit-transition:  -webkit-transform 0.6s ease;
    transition: transform  0.6s ease;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    color: #000000;

}

.hide {
    display: none;
}

/* sprite图片 */
.all-img {
    background: url('../../imgs/school.png');
    background-size: 500px 455px;
    background-repeat: no-repeat;
}
/* scroll 界面基本配置 */

#screen00{
    background: #24c3d5 url("../../imgs/bg.png");
    background-size: cover;
}



